<!DOCTYPE html>
<html>
<head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style name="impostor_size">
        ul.sortable .marker + li:not(.ui-sortable-helper),
        ul.sortable .marker + .ui-sortable-helper + li {
            border-top-width: 0px;
        }
    </style>
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 100%;
        }

        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/jquery.fullPage.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/custome.fullPage.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/main_page.common.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome/css/font-awesome.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/routes.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/movies.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/movie-plots.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/plots.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/perfect-scrollbar.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/map.common.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/common/jquery-ui.min.css" %}">


    <!-- userprofile -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">


    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/jquery.easing.js" %}"></script>
    <script src="{% static "js/main.common.js" %}"></script>
    <script src="{% static "js/perfect-scrollbar.js" %}"></script>
    <script src="{% static "js/html2canvas.min.js" %}"></script>

    <script src="{% static "js/fullpage.continuousHorizontal.limited.min.js" %}"></script>
    <script src="{% static "js/jquery.fullpage.extensions.min.js" %}"></script>

    <!-- Replace it with min -->
    <script src="{% static "js/common/jquery-ui.js" %}"></script>

    <script src="{% static "js/markerclusterer.js" %}"></script>
    <script src="{% static "js/extmap.classes.js" %}"></script>
    <script src="{% static "js/map.js" %}"></script>
    <script src="{% static "js/routes.js" %}"></script>
    <script src="{% static "js/movie-plots.js" %}"></script>
    <script src="{% static "js/plots.js" %}"></script>
    <script src="{% static "js/movies.js" %}"></script>

    <script src="{% static "js/jquery.mslider.js" %}"></script>
    <script src="{% static "js/maprightdiv.js" %}"></script>
    <script src="{% static "js/jquery.nicescroll.min.js" %}"></script>
    <script src="{% static 'js/profile.js' %}"></script>
    <script>
        $(function () {
            $("#profile_password_submit").on("click", function () {
                var cur_password = $("#profile_ori_password").val();
                var new_password = $("#profile_new_password").val();
                var new_password_again = $("#profile_new_password_again").val();
                if (cur_password == "" || new_password == "" || new_password_again == "") {
                    $("#profile_password_warning").text("请输入原密码与新密码");
                    return;
                }
                if (new_password != new_password_again) {
                    $("#profile_password_warning").text("两次输入的新密码不一致");
                    return;
                }
                $.post("change_password", {
                    "cur_password": cur_password,
                    "new_password": new_password
                }, function (json) {
                    if (json["status"] == "success") {
                        window.location.replace("{% url "main" %}");
                    } else if (json["status"] == "fail") {
                        $("#profile_password_warning").text("原密码错误");
                    } else {
                        $("#profile_password_warning").text("操作异常");
                    }
                    $("#profile_ori_password").val("");
                    $("#profile_new_password").val("");
                    $("#profile_new_password_again").val("");
                });
            })
        });
    </script>
    <script>
        $(function () {
            $("#profile_logout").on("click", function () {
                var data = {
                    "email": "{{email}}"
                };
                $.getJSON("logout_user", data, function () {
                    window.location.replace("{% url "main" %}");
                })
            })
        });
    </script>


    <script src="https://maps.google.cn/maps/api/js?key=AIzaSyC5VIhPswBk-7iluvp6GGrmoL2nvNxoDek&libraries=places&callback=initMap"
            async defer></script>

</head>
<body>
{% if route_id %}
    <input type="hidden" data-value="{{ route_id }}" id="shared-route-id">
{% endif %}
<input type="text" id="screenshot-input" value="" >

<!--input type="text" id="map_search" name=""-->
<div id="global-right-arrow" class="global-arrow" style="display: none"></div>
<div id="global-left-arrow" class="global-arrow" style="display: none"></div>
<div id="fullpage">
    <div class="m-slide" id="welcome-page">
        <div class="welcome-page-content">
            <div class="welcome-text">
                Welcome to Symphony
            </div>
            <div class="welcome-button">Get Start</div>
        </div>
    </div>
    <div class="section m-slide">
        <div id="map"></div>
        <input id="pac-input" type="text" placeholder="Search Box">

        <!-- Routes Div -->
        <div id='routes-div'>
            <div class="routes-menu-wrapper">
                <ul id="routes-menu">
                    <li style="display:none"></li>
                    <li></li>
                    <li></li>
                    <li style="display:none"></li>
                </ul>
            </div>
            <div class="mouth-wrapper">
                <div class="mouth"></div>
            </div>

            <div id="routes-slides">

                <div class="m-slide movie-plots-div">
                    <ul id="movie-plots-list">

                    </ul>
                </div>

                <div class="m-slide movies-div">
                    <div class="search-movie-wrapper">
                        <form id="search-movie-form">
                            <input type="text" name="movie" placeholder="请输入电影/电视剧">
                        </form>
                    </div>
                    <div id="movies-list">
                        <div class="no-movie" style="display:none">
                            没有搜索到相关电影
                        </div>
                    </div>
                </div>

                <div class="m-slide">

                    <ul id="routes-list" class="routes-list sortable">

                        <!-- ROUTE EXAMPLE -->
                        <li class='route example'>
                            <img class='route-thumbnail'
                                 src="../static/img/default_thumbnail.jpg">
                            <span class='fa-stack fa-2x checked-icon'>
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class='fa fa-check fa-stack-1x'></i>
                                </span>
                            <div class='route-control'>
                                <div class='route-name-wrapper'>
                                    <div class='route-name'>示例路线</div>
                                </div>
                                <hr align="center">
                                <div class='route-icons-list'>
                                    <div class='route-icons-wrapper'>
                                        <div class='route-share-icon route-icon'>
                                            <i class="fa fa-share-alt" aria-hidden="true"></i>
                                        </div>
                                        <div class='route-delete-icon route-icon'>
                                            <i data-title="删除" class="fa fa-trash-o" aria-hidden="true"></i>
                                        </div>
                                        <div class='route-edit-icon route-icon'>
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- ROUTE EXAMPLE -->
                        <li id="create-route-wrapper">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            <div id="create-route-text">create a new route</div>
                        </li>
                    </ul>
                </div>

                <div class="m-slide places-div">
                    <ul class="places-tools-list">
                        <li class="places-tool-return-routes places-icon">
                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        </li>
                        <li class="places-tool-eagle-eye places-icon">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </li>
                        <li class="places-tool-screenshot places-icon" onclick="screenShot()">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                        </li>
                        <li class='places-tool-share places-icon'>
                            <a>
                                <i class="fa fa-share-alt" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class='places-tool-undo places-icon icon-need-activate'>
                            <i class="fa fa-reply" aria-hidden="true"></i>
                        </li>
                        <li class='places-tool-redo places-icon icon-need-activate'>
                            <i class="fa fa-share" aria-hidden="true"></i>
                        </li>
                        <li class='places-tool-delete places-icon icon-need-activate'>
                            <i class="fa fa-trash-o " aria-hidden="true"></i>
                        </li>
                    </ul>

                    <div class="places-content">
                        <div class="route-name-editable-wrapper">
                            <input type="text" class="route-name-editable">
                        </div>
                        <ul id="places-list" class="sortable">
                            <li title="选择一个地点" id="add-place-wrapper" class="sortable-border-top"
                                data-markerid="-1">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                <div id="add-place-text">add a new place</div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="slide m-slide" data-anchor="slide2">
        <div class="profile_body_div">
            <div class="profile_head">
                <div class="profile_background_div"></div>
                <div class="head_portrait_div">
                    <img class="profile_portrait" src="{% static portrait %}">
                </div>
                <div class="profile_username_div">
                    {{ nickname }}
                </div>
                <div class="profile_user_summary_div">
                    <table>
                        <tbody>
                        <tr>
                            <td id="profile_follow_user_num_td">关注数<br/><label
                                    id="profile_follow_user_counter">{{ follow_num }}</label></td>
                            <td class="middle" id="profile_follow_route_num_td">路线数<br/><label
                                    id="profile_follow_route_counter">{{ route_num }}</label></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="profile_body_wrapper">
                <aside class="profile_nav_aside">
                    <p class="nav_selected" id="profile_nav_1" index="1">我的关注</p>
                    <p id="profile_nav_2" index="2">我的路线</p>
                    <p id="profile_nav_3" index="3">推荐路线</p>
                    <p id="profile_nav_4" index="4">个人资料</p>
                    <p id="profile_nav_5" index="5">修改密码</p>
                    <p id="profile_nav_6" index="6">退出登陆</p>
                </aside>

                <div class="profile_content" id="profile_content_1">
                    <h2>我的关注</h2>
                    <div class="profile_content_empty" style="display: none" id="profile_content_empty_user">
                        无关注的用户
                    </div>
                    <div id="profile_follow_body_wrapper">
                        <div class="profile_content_body" id="profile_content_body_1">
                            <ul id="profile_follow_ul">
                                {% for user in user_list %}
                                    <li id="profile_follow_li_{{ forloop.counter }}">
                                        <img src="{% static user.portrait %}">
                                        <div class="profile_follow_email">
                                            {{ user.email }}
                                        </div>
                                        <div class="profile_follow_nickname">
                                            {{ user.nickname }}
                                        </div>
                                        <div class="profile_user_follow"
                                             id="profile_switch_follow_{{ forloop.counter }}"
                                             email="{{ user.email }}"
                                             li_id="profile_follow_li_{{ forloop.counter }}">
                                            取消关注
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="profile_content" id="profile_content_2" style="display: none">
                    <h2>我的路线</h2>
                    <div class="profile_content_empty" style="display: none" id="profile_content_empty_route">
                        无收藏的路线
                    </div>
                    <div id="profile_route_body_wrapper">
                        <div class="profile_content_body" id="profile_content_body_2">
                            <ul id="profile_route_ul">
                                {% for route in route_list %}
                                    <li id="profile_route_li_{{ forloop.counter }}" class="profile_route_entry">
                                        <div class="profile_route_name">{{ route.name }}</div>
                                        <div class="profile_route_date">创建时间：{{ route.date }}</div>
                                        <div class="profile_route_site">{{ route.site }}</div>
                                        <div class="profile_route_follow"
                                             id="profile_switch_route_{{ forloop.counter }}"
                                             route_id="{{ route.id }}"
                                             li_id="profile_route_li_{{ forloop.counter }}">
                                            删除路线
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="profile_content" id="profile_content_3" style="display: none">
                    <h2>推荐路线</h2>
                    <div class="profile_content_empty">无推荐的路线</div>
                </div>
                <div class="profile_content" id="profile_content_4" style="display: none">
                    <h2>个人资料</h2>
                    <div class="profile_detail_wrapper" id="profile_detail_wrapper">
                        <hr class="profile_table_head_hr"/>
                        <ul class="profile_detail_ul">
                            <li>
                                <div class="profile_detail_name">
                                    邮箱
                                </div>
                                <div class="profile_detail_value">
                                    {{ email }}
                                </div>
                            </li>
                            <li>
                                <div class="profile_detail_name">
                                    昵称
                                </div>
                                <div class="profile_detail_value">
                                    {{ real_nickname }}
                                </div>
                            </li>
                            <li>
                                <div class="profile_detail_name">
                                    自我介绍
                                </div>
                                <div class="profile_detail_value">
                                    {{ introduction }}
                                </div>
                            </li>
                            <li>
                                <div class="profile_detail_name">
                                    标签
                                </div>
                                <div class="profile_detail_value">
                                    {{ label }}
                                </div>
                            </li>
                            <li>
                                <div class="profile_detail_name">
                                    手机号码
                                </div>
                                <div class="profile_detail_value">
                                    {{ phone }}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="profile_content" id="profile_content_5" style="display: none">
                    <h2>修改密码</h2>
                    <hr class="profile_table_head_hr"/>
                    <ul class="profile_password_ul">
                        <li>
                            <div class="profile_detail_value">
                                <input type="password" placeholder="请输入原密码" class="profile_password"
                                       id="profile_ori_password"/>
                            </div>
                        </li>
                        <li>
                            <div class="profile_detail_value">
                                <input type="password" placeholder="请输入新密码" class="profile_password"
                                       id="profile_new_password"/>
                            </div>
                        </li>
                        <li>
                            <div class="profile_detail_value">
                                <input type="password" placeholder="请再次输入新密码" class="profile_password"
                                       id="profile_new_password_again"/>
                            </div>
                        </li>
                        <div class="profile_submit_button" id="profile_password_submit">提交</div>
                        <div class="profile_password_warning" id="profile_password_warning"></div>
                    </ul>
                </div>
                <div class="profile_content" id="profile_content_6" style="display: none">
                    <h2>退出登录</h2>
                    <div class="profile_content_text_wrapper">
                        请点击退出登录按钮退出登录。退出后，您将需要重新登录。
                        <div class="profile_submit_button" id="profile_logout">退出登陆</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
    #fullpage {
        height: 100%;
        width: 100%;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('#fullpage').mslider({
            leftArrow: "#global-left-arrow",
            rightArrow: "#global-right-arrow",
            transition: "400ms",
            after: function (target) {
                if (target == 1) {
                    $("#global-left-arrow").hide(100);
                    $("#global-right-arrow").show(100);
                }
                if (target == 2) {
                    $("#global-left-arrow").show(100);
                    $("#global-right-arrow").hide(100);
                }
            },
            initSlide: 0
        });
        $('#fullpage').addRightArrow(".welcome-button");
        $(".welcome-button").click(function () {
            setTimeout(function () {
                $('.mouth-wrapper').addClass('active');
            }, 2000);
            $("#routes-list").trigger('load-routes')
            setTimeout(function () {
                $('.mouth-wrapper').removeClass('active');
            },4000);
        })
    });

    $(function () {
        $("input").attr("spellcheck", "false");
    });
    /*
    $(document).ready(function() {
      $.ajaxSetup({
          beforeSend: function(xhr, settings) {
              if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                  xhr.setRequestHeader("X-CSRFToken", csrftoken);
              }
          }
      });
    });
    */
    $("#fullpage").on('transitionend webkitTransitionEnd oTransitionEnd', function (event) {
			if (event.target != this) {
				return;
			}
			if($(this).hasClass("done")){
			    return false;
            }else{
			    $(this).css("opacity","1");
			    $(this).addClass("done");
            }
		});
    function screenShot(){
        $('#fullpage').removeClass("done");
        $('#fullpage').css("opacity", "0.2");
        var v = $('.route.active').find('img').attr('src');
        document.getElementById('screenshot-input').value = v;
        document.getElementById("screenshot-input").select();
        var result = document.execCommand("Copy");
        //alert("图片url已复制到剪贴板" + result);

    }
</script>

<style type="text/css">
    /*Disable Google Copyright*/

    a[href*="maps.google.com/maps"] {
        display: none !important
    }

    a[href*="www.google.cn"] {
        display: none !important
    }

    .gm-style-cc {
        display: none !important;
    }


</style>
</body>
</html>
