<!DOCTYPE html>
<html>
<head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 100%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/jquery.fullPage.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/custome.fullPage.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/map_right_div.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/movie_div.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/main_page.common.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/route-tools.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome/css/font-awesome.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "temp.css" %}">



    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/jquery.easing.js" %}"></script>
    <script src="{% static "js/main.common.js" %}"></script>

    <script src="{% static "js/route.classes.js" %}"></script>
    

    <script src="{% static "js/fullpage.continuousHorizontal.limited.min.js" %}"></script>
    <script src="{% static "js/markerclusterer.js" %}"></script>
    <script src="{% static "js/map.js" %}"></script>
    <script src="{% static "js/jquery.fullpage.extensions.min.js" %}"></script>
    <script src="{% static "js/jquery.nicescroll.min.js" %}"></script>
    <script src="{% static "js/mslider.js" %}"></script>
    <script src="{% static "js/maprightdiv.js" %}"></script>
    <script src="{% static "temp.js" %}"></script>

    <script src="https://maps.google.cn/maps/api/js?key=AIzaSyC5VIhPswBk-7iluvp6GGrmoL2nvNxoDek&libraries=places&language=zh-CN&callback=initMap"
            async defer></script>

</head>
<body>
<!--input type="text" id="map_search" name=""-->
<div id="fullpage">
    <div class="section">
        <div class="slide" data-anchor="slide1">
            <div id="map"></div>

            <div id="map_right_info_div" class="map-custom-control">
                <div id="title-div">
                    <div class="icon"><div class="arrow map-arrow-left"></div></div>
                    <div class="icon"><div class="arrow map-arrow-right"></div></div>
                    <!--div id="map_info_menu_btn"></div-->
                </div>

                <div class="m-cur-slide-1" id="map-right-div-section">

                    <div class="m-slide" >
                    	<form id="id-search-movie-form">
	                        <input type="text" name="movie" id="id-search-movie-input">
	                        <input type="submit" id="id-search-movie-submit" value="Search">
                        </form>
                        <div class="movies-info">
                            <h1></h1>
                        </div>
                        <div id="movies-content"></div>
                    </div>


                    <div class="m-slide" >
                        <div class="plots-info">
                            <h1></h1>
                        </div>
                        <div id="plots-content"></div>
                    </div>

                    <div class="m-slide"></div>
                </div>

            </div>

            <div id="route-tools-div" class="map-custom-control">
                <ul class="route-tools-list">
                    <li>
                        <i class="fa fa-floppy-o fa-4x route-tools-icon" aria-hidden="true"></i>
                    <li>

                    <li>
                        <i class="fa fa-plus fa-4x route-tools-icon" aria-hidden="true"></i>
                    </li>
                    <li>
                        <i class="fa fa-minus fa-4x route-tools-icon" aria-hidden="true"></i>
                    </li>
                    
                    
                </ul>
            </div>
            
            <!-- Temp -->
            <div class="map-custom-control" id="add_route_btn"></div>
            <div class="map-custom-control" id="add_marker_btn"></div>


        </div>

    </div>
</div>



<script type="text/javascript">
    $(document).ready(function() {
        $('#fullpage').fullpage({
            continuousHorizontal: true,
            continuousHorizontalKey: 'YWx2YXJvdHJpZ28uY29tX00zVVkyOXVkR2x1ZFc5MWMwaHZjbWw2YjI1MFlXdz12Nk0=',
            slidesNavigation: true
        });
    });

    $(function() {
        $("input").attr("spellcheck","false");
        $("#plots-content").niceScroll({
            cursorcolor: "white",
            cursorborder: "none",
            cursoropacitymax: 0.6,
            cursoropacitymin: 0.2,
            scrollbarid: "plots-scrollbar"
        });

        $("#movies-content").niceScroll({
            cursorcolor: "white",
            cursorborder: "none",
            cursoropacitymax: 0.6,
            cursoropacitymin: 0.2,
            scrollbarid: "movies-scrollbar"
        });
        $(window).resize(function () {
            setTimeout(function () {
                $("#movies-content").getNiceScroll().resize();
            },500)
        })
    });
    /*
    $(document).ready(function() {
      $.ajaxSetup({
          beforeSend: function(xhr, settings) {
              if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                  xhr.setRequestHeader("X-CSRFToken", csrftoken);
              }
          }
      });
    });
    */
</script>

<style type="text/css">
    /*Disable Google Copyright*/

    a[href*="maps.google.com/maps"]{display:none !important}
    a[href*="www.google.cn"]{display:none !important}
    .gm-style-cc{display: none !important;}

</style>
</body>
</html>
