<!DOCTYPE html>
<html>
<head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style name="impostor_size">
        ul.sortable .marker + li:not(.ui-sortable-helper),
        ul.sortable .marker + .ui-sortable-helper + li{ border-top-width: 0px;}
    </style>
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 100%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/jquery.fullPage.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/custome.fullPage.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/map_right_div.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/movie_div.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/main_page.common.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome/css/font-awesome.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/routes.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/perfect-scrollbar.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/common/jquery-ui.min.css" %}">



    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/jquery.easing.js" %}"></script>
    <script src="{% static "js/main.common.js" %}"></script>
    <script src="{% static "js/perfect-scrollbar.js" %}"></script>
    <script src="{% static "js/html2canvas.min.js" %}"></script>

    <script src="{% static "js/fullpage.continuousHorizontal.limited.min.js" %}"></script>
    <script src="{% static "js/jquery.fullpage.extensions.min.js" %}"></script>
    
    <!-- Replace it with min -->
    <script src="{% static "js/common/jquery-ui.js" %}"></script>

    <script src="{% static "js/markerclusterer.js" %}"></script>
    <script src="{% static "js/extmap.classes.js" %}"></script>
    <script src="{% static "js/routes.js" %}"></script>
    <script src="{% static "js/map.js" %}"></script>
    <script src="{% static "js/jquery.mslider.js" %}"></script>
    <script src="{% static "js/maprightdiv.js" %}"></script>

    <script src="https://maps.google.cn/maps/api/js?key=AIzaSyC5VIhPswBk-7iluvp6GGrmoL2nvNxoDek&libraries=places&language=zh-CN&callback=initMap"
            async defer></script>

</head>
<body>
<!--input type="text" id="map_search" name=""-->
<div id="fullpage">
    <div class="section">
        <div class="slide" data-anchor="slide1">
            <div id="map"></div>
            <div id="hidden-map" hidden="true"></div>
            
            <div id="map-info-div" class="map-custom-control">
                <div id="title-div">
                    <div class="icon"><div class="arrow map-arrow-left"></div></div>
                    <div class="icon"><div class="arrow map-arrow-right"></div></div>
                </div>

                

                <div id="map-info-slides">

                    <div class="m-slide" >
                    	<form id="id-search-movie-form">
	                        <input type="text" name="movie" id="id-search-movie-input">
	                        <input type="submit" id="id-search-movie-submit" value="Search">
                        </form>
                        <div class="movies-info">
                            <h1></h1>
                        </div>
                        <div id="movies-content"></div>
                    </div>


                    <div class="m-slide" >
                        <div class="plots-info">
                            <h1></h1>
                        </div>
                        <div id="plots-content"></div>
                    </div>

                    <div class="m-slide"></div>
                </div>

            </div>

            <!-- Routes Div -->
            <div id='routes-div'>
                <div id="routes-tools-list"></div>
                <div id="routes-slides">
                    
                    <div class="user-info">
                        {# to be implemented #}
                    </div>

                    <div class="m-slide">

                        <div id="routes-list" class="routes-list">

                        <!-- ROUTE EXAMPLE -->
                            <div class='route'>
                                <img class='route-thumbnail' src="http://localhost:8000/static/img/default_thumbnail.jpg">
                                <span class='fa-stack fa-2x checked-icon'>
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class='fa fa-check fa-stack-1x'></i>
                                </span>
                                <div class='route-control'>
                                    <div class='route-name-wrapper'>
                                        <div class='route-name'>示例路线</div>
                                    </div>
                                    <hr align="center">
                                    <div class='route-icons-list'>
                                        <div class='route-icons-wrapper'>
                                            <div class='route-share-icon route-icon'>
                                                <i class="fa fa-share-square-o " aria-hidden="true"></i>
                                            </div>
                                            <div class='route-delete-icon route-icon'>
                                                <i data-title="删除" class="fa fa-trash-o" aria-hidden="true"></i>
                                            </div>
                                            <div class='route-edit-icon route-icon'>
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <!-- ROUTE EXAMPLE -->
                        

                            <div id="create-route-wrapper">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                <div id="create-route-text">create a new route</div>
                            </div>
                        </div>
                    </div>

                    <div class="m-slide places-div">
                        <ul class="places-tools-list">
                            <li class="route-tool-return-routes places-icon">
                                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                            </li>
                            <li class="route-tool-current-marker places-icon">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                            </li>
                            <li class="route-tool-screenshot places-icon">
                                <i class="fa fa-picture-o" aria-hidden="true"></i>
                            </li>
                            <li class='route-tool-share places-icon'>
                                <i class="fa fa-share-square-o " aria-hidden="true"></i>
                            </li>
                        </ul>

                        <ul id="places-list" class="sortable">

                            <li title="选择一个地点" id="add-place-wrapper" class="sortable-border-top" data-markerid="-1">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                <div id="add-place-text">add a new place</div>
                            </li>

                        </ul>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<script type="text/javascript">
    $(document).ready(function() {
        $('#fullpage').fullpage({
            continuousHorizontal: true,
            continuousHorizontalKey: 'YWx2YXJvdHJpZ28uY29tX00zVVkyOXVkR2x1ZFc5MWMwaHZjbWw2YjI1MFlXdz12Nk0=',
            slidesNavigation: true
        });
    });

    $(function() {
        $("input").attr("spellcheck","false");
    });
    /*
    $(document).ready(function() {
      $.ajaxSetup({
          beforeSend: function(xhr, settings) {
              if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                  xhr.setRequestHeader("X-CSRFToken", csrftoken);
              }
          }
      });
    });
    */
</script>

<style type="text/css">
    /*Disable Google Copyright*/

    a[href*="maps.google.com/maps"]{display:none !important}
    a[href*="www.google.cn"]{display:none !important}
    .gm-style-cc{display: none !important;}

</style>
</body>
</html>
