*{
	margin: 0;
	padding: 0;
}

 /*Fix yellow background*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill{
	color: white;
	border: none !important;
	-webkit-text-fill-color: inherit !important;
	transition: background-color 9999s ease-in-out 0s;
}