#pac-input {
    margin-top: 10px;
    margin-right: 10px;
    border: 1px solid transparent;
    box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.7);
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
    border-radius: 4px;
    background: rgba(255,255,255,0.5);
}
#pac-input::placeholder{
	color: rgba(0,0,0,0.7)
}