#map-info-div{
    height: 100%;
    width: 25%;
    background: rgba(44,44,44,0.5);
    /*opacity: 0.5;*/
    overflow: hidden; 
}
#title-div{
    position: relative;
    background-color: rgba(77,77,77,0.7);
    height: 10%;
    width: 100%;
    display: table;
}
#map_info_menu_btn{
    height: 7px;
    width: 7px;
    display: block;

    border-top: 21px double;
    border-left: 0;
    border-bottom: 7px solid;
    border-right: 0;

    color: black;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.5;
    transition: opacity 700ms;
}
#map-info-slides{
    height: 90%;
    width: 300%;
    transition: 500ms;
    overflow: hidden; 
}

.m-slide{
    width: 33.33%;
    float: left;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 1px;
}

.plot{
    border: solid rgba(0,0,0,0.7);
    padding: 10px;
    margin: 10px;
    margin-right: 15px;
}

.intro{
    color: white;
}

img.plot-img{
    float: left;
    max-width: 100% !important;
    width: auto;
    height: auto;
}
.nicescroll-cursors{
    margin-right: 3px;
}
.plots-info{
    padding-left: 10px;
    color: white;
}
#plots-content{
    height: 100%;
}

.map-arrow-left{
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent; 
    border-right: 17px solid;
}   

.map-arrow-right{
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent; 
    border-left: 17px solid;  
    float: right;
}   
.arrow{
    width: 0; 
    height: 0;     
    transition: 500ms;  
    color: rgb(0,0,0);
    opacity: 0.4;
}
.arrow:hover{
    opacity: 0.6;
    cursor: pointer;
}
.icon{
    display: table-cell;
    vertical-align: middle;
    padding: 0 15px; 
}

.map-custom-control{
    /*display: none;*/
}
