/* Description Auto Wrap */
article {
    word-wrap: break-word;
    color: white;
}
/* Movie Wrapper Style */
.movie{
    border: solid rgba(0,0,0,0.7);
    padding: 10px;
    margin: 10px;
    margin-right: 15px;
}

/*  Movie Image Size */
img.movie-img{
    float: left;
    max-width: 100% !important;
    width: auto;
    height: auto;
}

/* Enable ScrollBar */
#movies-content{
    flex-grow: 1;
}

/*Search Box*/
#id-search-movie-form{
    width: 60%;
    margin: 10px auto;
}
input#id-search-movie-input{
    background: transparent;
    border-color: transparent transparent white transparent;
    color: white;
    width: 100%;
    font-size: 15pt;
}
input#id-search-movie-input:focus{
    outline: none;
}

input#id-search-movie-submit{
    background: transparent;
    border: none;
    color: white
}
input#id-search-movie-submit{
    margin-top: 5%;
    float: right; 
}
input#id-search-movie-submit:hover{
    cursor: pointer;
}
