.plot {
    height: 40%;
    padding: 2%;
    margin: 1% 0;
    border: 2px solid;
    overflow: hidden;
}

.plot img{
    max-width: 25% !important;
	float: left;
}
.plot-intro{
	color: white;
    padding-left: 3%;
    float: left;
    width: 70%;
    height: 120px;
}
.plot-movie-name{
    font-size: 20px;
    font-weight: bolder;
}
.plot-description{
    height: 100px;
    word-break: break-all;
    font-size: 14px;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.site-name{
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 25px;
    font-weight: bolder;
    color: white;
}
.info-window{
	background-color: rgba(0,0,0,0.5) !important;
}
