ul.route-tools-list{
	list-style: none;	
	text-align: center;
}
ul.route-tools-list>li{
	color: rgba(255,255,255,0.5);
	margin: 15% 0;
}
ul.route-tools-list>li:hover{
	cursor: pointer;
}
#route-tools-div{
	height: 100%;
	width: 5%;
	background-color: rgba(44,44,44,0.8);
}