#routes-div{
	height: 100%;
	width: 20%;
	background-color: rgba(44,44,44,0.5);
}

/* routes-slides-menu */
.routes-menu-wrapper {
    position: relative;
    height: 20%;
    width: 100%;
}
ul#routes-menu{
    list-style: none;
    height: 20%;
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    margin: auto;
}
ul#routes-menu li{
    border: 2px solid white;
    border-radius: 50%;
    background-color: transparent;
    float: left;
    padding-bottom: 10%;
    width: 10%;
    margin: 0 19%;
}
ul#routes-menu li.m-menu-active{
	background-color: white;
}

ul#routes-list{
	list-style: none;
	height: 100%;	
	width: 100%;
	position: relative; /*For the scroll bar*/
}
#routes-slides{
	position: absolute;
	overflow: hidden;
	height: 80%;
	width: 100%;
	bottom: 0;
}
#create-route-wrapper{
    position: relative;
    padding: 5%;
    margin: 5%;
    margin-right: 7%; 
    cursor: pointer;
    text-align: center;
}
#create-route-wrapper::after{
	border-style: dashed;
    border-color: green;
}
#create-route-wrapper .fa{
	color: green;
}
#create-route-text{
	text-align: center;
	font-size: 1.6vw;
	font-weight: bold;
	color: green;
}
.route{
    padding: 2%;
    margin: 0 5% 8% 5%;

    position: relative;
    overflow: hidden;
}
.route::after{
    background: rgba(0,0,0,0.7);
}

#routes-list .route:first-child{
	margin-top: 1%;
}
#routes-list .route:last-child{
	margin-bottom: 1%;
}

/* Check Icon To Show Current Route*/
.checked-icon{
	visibility: hidden;
	position: absolute;
	transform: scale(0.75);
	z-index: 100;
	right: 0;
	top: 0;
}
.route.active .checked-icon{
	visibility: visible;
}
.checked-icon .fa-circle{
	color: rgba(0,0,0,0.8);
}
.checked-icon .fa-check{
	color: green;
}

.route-name-wrapper{
	height: 40%;
	width: 100%;
	display: table;
}
.route-name{
    display: table-cell;
    font-size: 1.2vw;
    letter-spacing: 0.1vw;
    color: white;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}
hr {
    width: 70%;
    background: white;
    height: 2px;
    border: none;
    margin: auto;
}
.route-control {
    z-index: 2;
    position: absolute;
    left: 0;
    /*top: 0;*/
    top: 62%;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.7;
    transition: top 0.4s;
}
.route:hover .route-control {
	top: 0;
}
img.route-thumbnail{
	max-width: 100% !important;
    width: auto;
    height: auto;
}
.route-icons-list{
	position: relative;
	height: 60%;
}
.route-icons-wrapper{
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	display: table;
	margin: auto;
}
.route-icon{
	text-align: center;
	width: 33.3%;
	float: left;
}
.route-delete-icon {
    transform: translateY(-0.5vh);
}
.route-delete-icon .fa:hover{
	opacity: 1;
	color: red;
}
.route-edit-icon .fa:hover{
	opacity: 1;
	color: red;
}.route-share-icon .fa:hover{
	opacity: 1;
	color: red;
}
.route-icon .fa, .places-icon .fa{
	color: white;
	opacity: 0.7;
	font-size: 2.3vw;
	cursor: pointer;
	transition: color 0.2s;
}
.route-icon .fa:hover {
  position: relative;
}

.fa[data-title]:hover:after {
	content: attr(data-title);
	display: table;
	color: white;
	position: absolute;
	top: 0;
	font-size: 0.5vw;
	background: black;
	opacity: 1;
	white-space: nowrap;
	letter-spacing: 0.1vw;
	padding: 0 5px;
	left: 100%;
}



/* Slide2 : Places */
/* Tools */
ul.places-tools-list{
	width: 20%;
	list-style: none;
	text-align: center;
	float: left;
}
ul.places-tools-list li{
	text-align: center;
	padding: 10% 2%;
}
ul.places-tools-list li:first-child{
	padding-top: 0;
}
.icon-need-activate .fa{
	cursor: default;
	opacity: 0.3;
}
.icon-need-activate.active .fa{
	opacity: 0.7;
	cursor: pointer;
}




/* add place div */
#add-place-wrapper{
    position: relative;
    color: gray;
    padding: 3% 10% 1% 6%;
    margin: 0 8% 5% 5%;
    margin-left: 0;
    text-align: center;
    opacity: 0.5;
    cursor: default;
}
#add-place-wrapper.active{
	color: green;
	opacity: 1;
	cursor: pointer;
}

#add-place-wrapper .fa{
    color: gray;
    font-size: 1.9vw;
    float: left;
}
#add-place-wrapper.active .fa{
	color: green;
}

#add-place-wrapper::after{
	border: dashed;	
}
#add-place-text{
    font-size: 1.4vw;
    font-weight: bold;
    text-align: right;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


/* Places List */
.places-content{
	width: 80%;
	height: 100%;
	float: left;
}
.route-name-editable-wrapper{
	border: none;
	padding-bottom: 3%;
	margin-bottom: 2%;
	width: 80%; 
}
.route-name-editable-wrapper.editable{
	border-bottom: 2px solid white;
}
.route-name-editable-wrapper input {
    color: white;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.5vw;
    letter-spacing: 0.2vw;
    pointer-events: none;
}
.route-name-editable-wrapper.editable input{
	pointer-events: auto;
}

ul#places-list{
	width: 100%;
	height: 100%;
	list-style: none;
	position: relative;
}

li.place{
    padding: 2%;
    margin: 0 5% 5% 0;
    position: relative;
    overflow: hidden;
    font-size: 1.2vw;
	cursor: default;
}
li.place:first-child{
	/*margin-top: 0;*/
}
li.place::after{
	background: #18629D;
	border-radius: 6px;
}
li.place.active::after{
	background: green;
}

.place-index{
	float: left;
	width: 10%;
}

.place-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 25ch;
}

/* Smooth Sortable */
ul#routes-list.sortable li{
	transition: border-top-width 150ms linear;
}

ul#places-list.sortable li{
	transition: border-top-width 70ms linear;
}

ul.sortable li{
	border-top: 0px solid rgba(0,0,0,0);
}

ul.sortable li::after { 
	content:' ';
	display:block;
	position:absolute;
	height:100%;
	width:100%;
	top:0px;
	left:0px;
	z-index:-1;
}
.marker{
	opacity: 0;
}

a{
	text-decoration: none;
}